.alert-ctc {
    background: #FF8800;
    padding: 10px;
}

.alert-primary1 {
    background: #FF8800!important;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    font-size: 22px;
}

.alert-primary12 {
    background: hsl(17, 92%, 52%)!important;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    font-size: 22px;
    margin-left: 50px;
}

.top {
    margin-top: 70px;
}

.tops {
    margin-top: 150px;
}

.dispos {
    position: absolute;
    margin-top: -94px;
    margin-left: 20%;
    padding: 7px;
    border-radius: 7px;
    border-left: 1px solid rgba(121, 85, 72, 0.7);
    border-right: 1px solid rgba(121, 85, 72, 0.7);
    border-top: 1px solid rgba(92, 68, 59, 0.7);
    background: hsla(16, 12%, 39%, 0.702);
    color: #ffffff;
}

.refer {
    background: #FF8800;
    color: #ffff;
}

.referAsiganada {
    background: #9933CC;
    color: #ffff;
    border: 2px solid #888589
}