<!-- menu -->
<ion-tabs>
    <ion-tab-bar slot="bottom">
        <ion-tab-button tab="normal">
           <ion-icon name="arrow-down-circle-outline"></ion-icon>
            <ion-label>Retirada estándar </ion-label>
        </ion-tab-button>

        <ion-tab-button tab="devolverP">
          <ion-icon name="return-down-back-outline"></ion-icon>
            <ion-label>Devolver estándar</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="devolver">
          <ion-icon name="return-down-back-outline"></ion-icon>
            <ion-label>Devolver instrucciones</ion-label>
        </ion-tab-button>
        <ion-tab-button tab="ver-salidas">
           <ion-icon name="arrow-down-circle-outline"></ion-icon>
            <ion-label>Consulta retiradas</ion-label>
        </ion-tab-button>
        <ion-tab-button tab="verDevoluciones">
            <ion-icon name="return-up-forward-outline"></ion-icon>
            <ion-label>Consulta devoluciones</ion-label>
        </ion-tab-button>
    </ion-tab-bar>
</ion-tabs>
