<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <!-- boton del menu que se encuentra en app-component -->
            <ion-menu-button autoHide="false"></ion-menu-button>
            <ion-back-button defaultHref="palets"></ion-back-button>

        </ion-buttons>
        <ion-title class="text-center text-primary">Devolver palets</ion-title>
    </ion-toolbar>
</ion-header>


<ion-content class="ion-padding">


    <section class="top animated fadeIn" *ngIf="!exito">
        <div class="row">
            <div class="col-md-3">
                <button type="button" class="btn primary1" (click)="volver()">
                    <ion-icon name="search"></ion-icon>  Volver a buscar
               </button>
            </div>
            <div class="col-md-3">
                <div class="input-group topS">
                    <div class="input-group-prepend">
                        <span class="input-group-text bg-primary text-white" id="basic-addon1"> <ion-icon name="search"></ion-icon> </span>
                    </div>
                    <input [disabled]="toggle" (keyup.enter)="dataToggle2(ins)" #ins type="number" name="instruccion" [(ngModel)]="instruccion" autocomplete="off" class="form-control form-control-sm" placeholder="Elija una Instrucción" aria-label="Username" aria-describedby="basic-addon1"
                        autocomplete="off">
                </div>
            </div>
            <br>
            <div class="alert alert-danger col-md-12" *ngIf="nada">
                <strong>ERROR!</strong> La instrucción que quiere devolver está <strong> ACTIVA , NO SOLICITADA O NO SE LE HA ASIGNADO SOBRANTE.</strong> <br>
                <button class="btn btn-outline-primary" [routerLink]="['/instruccion']" routerLinkActive="router-link-active"> Consultar Intrucción</button>
            </div>

            <div *ngIf="tabla1" class="d-flex justify-content-center top12">
                <ion-spinner name="crescent"></ion-spinner>

            </div>


            <div class="col-md-8 alert alert-secondary top" *ngIf="tabla && !nada">
                Categoría : {{ tipo }} {{ ancho }} x {{ largo }} <span class="tex-center"> Cantidad retirada: {{ salida}}</span>
            </div>
        </div>


        <form class="row top" #devInstr="ngForm" (ngSubmit)="addDevolver(devInstr)" *ngIf="tabla && !nada">
            <div class="col-md-6">
                <div class="md-form">
                    <input placeholder="Cantidad (uds)" required autocomplete="off" type="number" id="form1" #cantidadDevuelta (keyup)="comprobar(devInstr)" name="cantidadDevuelta" ngModel class="form-control">

                </div>
            </div>
            <input type="hidden" name="idPalet" [(ngModel)]="idPalet" class="form-control">
            <input type="hidden" name="instruccion" [(ngModel)]="instruccion" class="form-control">
            <input type="hidden" name="usuario" [(ngModel)]="usuario" class="form-control">
            <input type="hidden" name="idSalidaPalet" [(ngModel)]="idSalidaPalet" class="form-control">

            <div class="col-md-3" *ngIf="!errorCant && err">
                <ion-button [disabled]="devInstr.invalid" type="submit" color="secondary" class="btn ">
                    <ion-icon ios="ios-cloud" md="md-cloud"></ion-icon> Aceptar
                </ion-button>
            </div>
            <div class=" col-md-2 top1" *ngIf="!errorCant && !err">
                <span  class="text-success"> <ion-spinner name="lines-small"></ion-spinner> Espere</span>
            </div>
            <div class="col-md-6" *ngIf="errorCant">
                <div class="alert alert-danger" role="alert">
                    <strong> Error.</strong> La cantidad que quiere devolver es mayor a la retirada.
                </div>
            </div>

        </form>

    </section>

        
<ion-refresher  slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content pullingIcon="chevron-down-circle-outline"
    pullingText="Pull to refresh"
    refreshingSpinner="circles"
    refreshingText="Refrescando la página..."></ion-refresher-content>
  </ion-refresher>
</ion-content>