.alert-primary {
    background: #0d47a1;
    color: #ffff;
    padding: 7px;
    border-radius: 5px;
    text-align: center;
}

ion-infinite-scroll {
    font-size: 24px;
    color: rgb(241, 28, 28)!important;
}

.h3 {
    font-size: 20px!important;
}