<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <!-- boton del menu que se encuentra en app-component -->
            <ion-menu-button autoHide="false"></ion-menu-button>
            <ion-back-button defaultHref="/material/ {{idMaterial}}" color="danger"></ion-back-button>

        </ion-buttons>
        <ion-title class="text-center text-primary text-uppercase">{{datas}}: Ubicar </ion-title>
    </ion-toolbar>
</ion-header>


<ion-content class="ion-padding">



    <ion-row *ngIf="!confirmar">

        <ion-col>
            <ion-card>

                <ion-card-content class="h3 text-center">
                    ¿Quieres <strong>Imprimir </strong> las etiquetas correspondientes. ?
                </ion-card-content>
                <ion-card-header>

                    <ion-card-title class="text-center">
                        <ion-button size="large" color="primary" (click)="si()">
                            <ion-icon name="happy"></ion-icon> SI</ion-button>
                        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                        <ion-button size="large" color="danger" (click)="no()">
                            <ion-icon name="alert"></ion-icon> NO</ion-button>
                    </ion-card-title>
                </ion-card-header>
            </ion-card>
        </ion-col>
    </ion-row>


    <div class="row" *ngIf="!individual && !sinEntrada && !printer">
        <div class="col-md-6" *ngFor="let item of data" (click)="onClick(item)">
            <ion-card>
                <ion-card-header>
                    <ion-card-title>{{item.desOpcional}} ---- Etiqueta N° {{item.idM}}</ion-card-title>

                </ion-card-header>

                <ion-card-content class="text-danger">
                    Cantidad: {{ item.cantidadE }} &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                    <span class="text-primary"> Código SAP {{ item.codigoSap}}</span>
                </ion-card-content>
            </ion-card>
        </div>
    </div>
    <div class="alert alert-primary text-center h3" *ngIf="sinEntrada">
        Por el momento no hay {{datas}} para ubicar!!!
    </div>




    <!--  individual  -->
    <!--  individual  -->
    <!--  individual  -->
    <!--  individual  -->
    <div class="row " *ngIf="individual">
        <div class="col-md-6 h1">
            <ion-card class="h1">
                <ion-card-header>
                    <ion-card-title class="h1">{{ datos.desOpcional}}</ion-card-title>
                    <ion-card-subtitle class="text-primary h1">Número de etiqueta: #{{ datos.idM }}</ion-card-subtitle>
                    <span class="text-danger">Bulto: 1</span>

                </ion-card-header>
                <ion-card-content>
                    <form #action="ngForm">


                        <div class="row">
                            <div class="col-md-6">
                                <ion-input *ngIf="!bienE" class="form-control" required type="text" id="esta" autofocus="true" #esta name="estanteria" (change)="scan( esta.value)" [(ngModel)]="ubi"></ion-input>
                            </div>
                            <div class="col-md-6 he">
                                <span *ngIf="!bienE" class="alert alert-info text-center">Escanea la ubicación</span>
                            </div>
                        </div>
                        <input type="hidden" name="codigoSap" [(ngModel)]="datos.codigoSap">
                        <input type="hidden" name="idM" [(ngModel)]="datos.idM">
                        <input type="hidden" name="idMaterial" [(ngModel)]="idMaterial">
                        <input type="hidden" name="idEstanteria" [(ngModel)]="idEstanteria">


                        <ion-button (click)="ubicar(action)" [disabled]="action.invalid" class="text-white" *ngIf="!errorU && !boton" color="primary" expand="full" fill="outline" size="large">
                            <ion-icon name="checkbox-outline"></ion-icon>
                            Ubicar</ion-button>
                        <ion-button class="text-white" *ngIf="boton" color="success" expand="full" fill="outline" size="large">
                            <ion-spinner name="crescent"></ion-spinner>
                            Ubicando ....</ion-button>

                    </form>
                </ion-card-content>

                <!-- <ion-fab-button (click)="onClick1()">
        <ion-icon name="undo"></ion-icon>
    </ion-fab-button> -->

            </ion-card>
        </div>
        <div class="col-md-6 h1">
            <ion-card class="col-md-12" *ngFor="let item of estanteriasDatas">
                <ion-item-divider class="h3 active" *ngIf="item.libres > 0">
                    <ion-label>
                        <span class="text-primary text-center">    <br>{{ item.nombre}} </span>
                        <br>

                        <span class="text-info" *ngIf="item.libres == 1"> Disponible: {{ item.libres}} </span>
                        <span class="text-info" *ngIf="item.libres > 1"> Disponibles: {{ item.libres}} </span>


                    </ion-label>
                </ion-item-divider>
            </ion-card>

            <div class="alert alert-danger" *ngIf="errorU">
                Error en la ubicación.
            </div>

            <div *ngIf="nomUbi" class="alert alert-info text-center">
                {{ nomUbi }}
            </div>
        </div>
    </div>

    <ion-refresher  slot="fixed" (ionRefresh)="doRefresh($event)">
        <ion-refresher-content pullingIcon="chevron-down-circle-outline"
        pullingText="Pull to refresh"
        refreshingSpinner="circles"
        refreshingText="Refrescando la página..."></ion-refresher-content>
      </ion-refresher>

</ion-content>