<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <!-- boton del menu que se encuentra en app-component -->
            <ion-menu-button autoHide="false"></ion-menu-button>
            <ion-back-button defaultHref="palets"></ion-back-button>

        </ion-buttons>
        <ion-title class="text-center text-primary">Retirada de palet estándar</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" *ngIf="!movil && !inicio">

    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <!-- Buscamos el palet -->
            <form *ngIf="!categoriaP && !conInst" #buscar="ngForm" (ngSubmit)="buscarPalet(buscar)">
                <div class="row">
                    <div class="col-md-6">
                        <div class="md-form form-sm">
                            <input mdbInput type="number" autocomplete="off" name="ancho" ngModel id="form1" class="form-control form-control-lg ">
                            <label for="form1" class="text-primary text-center">Ancho (cm)</label>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="md-form form-sm">
                            <input mdbInput type="number" autocomplete="off" name="largo" ngModel id="largo" class="form-control form-control-lg">
                            <label for="largo" class="text-primary text-center">Largo (cm)</label>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary btn-block">Buscar</button>
                </div>
            </form>
            <div *ngIf="error1" class="col-md-12 top1">
                <div class="alert alert-danger top" role="alert">
                    <a href="# " class="alert-link "> No existe ningún palet que corresponda a las medidas {{ancho }} x {{largo}}.</a>
                </div>
            </div>
        </div>
    </div>

    <!-- Comienza la retirada-->
    <!-- Comienza la retirada-->
    <!-- Comienza la retirada-->

    <div *ngIf="conInst">
        Palet con instrucción <a (click)="ir()" class="btn btn-outline-info"> Ir a retirar con instrucción</a>
    </div>
    <form *ngIf="categoriaP" #pedidoTemp="ngForm">
        <div class="row h1" *ngIf="!exito">
            <div class="col-md-6" *ngIf="catPalet.length > 1">
                <!-- Seleccionar una Categoría
                <select [disabled]="palet" required name="idCategoria" ngModel class="browser-default custom-select text-uppercase form-control-lg" (change)="cat($event.target.value)">
                    <option class="text-uppercase " *ngFor="let item of catPalet" [value]="item.idCategoria" > {{ item.nombreCategoria }}</option>
                </select> -->
                <ul class="list-group">
                    <div *ngFor="let item of catPalet">
                        <li class="list-group-item cursor" [ngClass]="{'active': item.idCategoria == idC}" (click)="seleccionarCat(item.idPalet , item.idCategoria)">
                            <span>{{item.nombreCategoria}} <span class="float-right"> <ion-icon name="share-alt"></ion-icon> </span></span>
                        </li>
                    </div>
                </ul>
            </div>
            <div class="col-md-6 top1" *ngIf="palet">
                <span>
                    <div class="alert alert-secondary" role="alert">
                        <span class="text-uppercase">  {{ancho }} x {{largo}} &nbsp;&nbsp;&nbsp; Disponible {{stockR}}</span>
            </div>
            </span>
        </div>

        <div class="col-md-12" *ngIf="catPalet.length == 1 && categoriaP">
            <span *ngFor="let item of catPalet">
                <div class="alert alert-secondary " role="alert">
                    Categoría : <span class="text-uppercase"> {{item.nombreCategoria}} &nbsp;&nbsp; {{ancho }} x {{largo}} &nbsp;&nbsp;&nbsp; Disponible {{item.stockReal}}</span>
        </div>
        </span>
        </div>
        </div>
        <ion-card class="h2 top1" *ngIf="si">
            <ion-grid>
                <ion-row>
                    <ion-col size="4">
                        <div *ngIf="palet1">
                            <div class="h2">
                                <ion-item>
                                    <ion-label>
                                        Cantidad
                                    </ion-label>
                                    <ion-input type="number" class="form-control-lg" placeholder="Cantidad" (keydown)="pilaPalet(pedidoTemp)" required name="stockReal" ngModel></ion-input>
                                </ion-item>
                            </div>
                        </div>
                    </ion-col>
                    <ion-col size="2">
                        <div *ngIf="palet1">

                            <div class="h4">
                                <!-- <input type="checkbox" class="custom-control-input" name="pila" ngModel> -->
                                <ion-checkbox mode="ios" color="primary" name="pila" [(ngModel)]="pilas"></ion-checkbox>
                                <span class="custom-control-description">&nbsp;&nbsp; Por pilas</span>
                            </div>
                        </div>
                    </ion-col>
                    <ion-col size="6">
                        <div class="alert alert-info " *ngIf="sumaStock>= 1">
                            <div *ngIf="sumaStock  == 1">
                                Total : <strong>  {{ sumaStock }} </strong> Unidad

                            </div>
                            <div *ngIf="sumaStock  > 1">
                                Total : <strong>  {{ sumaStock }} </strong> Unidades

                            </div>

                            <input type="hidden" name="cantidad" [(ngModel)]="sumaStock">
                            <input type="hidden" name="usuario" [(ngModel)]="usuario">
                            <input type="hidden" required name="idPalet" [(ngModel)]="idPalet">
                        </div>
                    </ion-col>
                </ion-row>
            </ion-grid>
            <div class="alert alert-danger" *ngIf="errorCantidad">
                <strong>ERROR!</strong> La cantidad que quiere retirar es mayor al <strong> STOCK</strong> disponible.
            </div>
            <ion-grid class="h3">
                <ion-row>
                    <ion-col size="6">
                        <div *ngIf="!error && palet1 && !errorCantidad">
                            Seleccionar una ubicación
                            <select required name="idUbicacion" ngModel class="browser-default custom-select text-uppercase form-control-lg">
                            <option class="text-uppercase" *ngFor="let item of data" [value]="item.idUbicacion" > {{ item.nombreUbicacion }}</option>
                        </select>
                        </div>
                    </ion-col>
                    <ion-col size="6">
                        <div class="" *ngIf="pedidoTemp.valid && !error && !errorCantidad && sumaStock>= 1">
                            <button (click)="addPedidosTemp(pedidoTemp)" *ngIf="!boton" [disabled]="pedidoTemp.invalid" class="btn btn-outline-danger btn-block">Aceptar</button>
                            <span *ngIf="boton" class="text-success"> <ion-spinner name="lines-small"></ion-spinner> Espere</span>
                        </div>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </ion-card>
    </form>

        
<ion-refresher  slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content pullingIcon="chevron-down-circle-outline"
    pullingText="Pull to refresh"
    refreshingSpinner="circles"
    refreshingText="Refrescando la página..."></ion-refresher-content>
  </ion-refresher>
</ion-content>



<!-- movil -->
<ion-content *ngIf="movil">
    <form #pedidoTemp="ngForm" (ngSubmit)="addPedidosTemp(pedidoTemp)">

        <ion-list>

            <ion-item>
                <ion-label>Categoría</ion-label>
                <ion-select placeholder="Escoja una" required name="idCategoria" ngModel (ionChange)="catByPalet($event.target.value)">
                    <ion-select-option *ngFor="let item of catPalet" [value]="item.idCategoria"> {{ item.nombreCategoria }}</ion-select-option>

                </ion-select>
            </ion-item>

            <ion-item *ngIf="palet">
                <ion-label>Palet</ion-label>
                <ion-select placeholder="Escoja uno" required name="idPalet" ngModel (ionChange)="valorM($event.target.value)">
                    <ion-select-option *ngFor="let item of paletById" [value]="item.idPalet"> {{ item.ancho }} <span class="h6 text-muted">x</span> {{item.largo}}</ion-select-option>
                </ion-select>
            </ion-item>

            <div *ngIf="palet1">
                <div>
                    <ion-item>
                        <ion-label>Cantidad</ion-label>
                        <ion-input type="number" placeholder="Cantidad" (change)="pilaPaletM(pedidoTemp)" required name="cantidad" ngModel></ion-input>
                    </ion-item>
                </div>
            </div>
        </ion-list>
        <ion-grid>
            <ion-row>
                <ion-col>
                    <span *ngIf="mostrarS" class="alert alert-warning "> Disponible {{stockR}}</span>
                </ion-col>
                <ion-col>
                    <div *ngIf="palet1">
                        <label class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" name="pila" ngModel>
                                        <span class="custom-control-indicator"></span>
                                        <span class="custom-control-description">Por pilas</span>
                                      </label>
                    </div>
                </ion-col>
            </ion-row>
        </ion-grid>
        <input type="hidden" name="cantidad" [(ngModel)]="sumaStockM">
        <input type="hidden" name="usuario" [(ngModel)]="usuario">
        <input type="hidden" required name="idPalet" [(ngModel)]="idPalet">
        <div class="alert alert-info " *ngIf="sumaStock >= 1">
            <div *ngIf="sumaStock  == 1">
                Total : <strong>  {{ sumaStock }} </strong> Unidad

            </div>
            <div *ngIf="sumaStock  > 1">
                Total : <strong>  {{ sumaStock }} </strong> Unidades
                <strong *ngIf="porPila">  "Por pilas" </strong>

            </div>

            <input type="hidden" name="cantidad" [(ngModel)]="sumaStock">
            <input type="hidden" name="usuario" [(ngModel)]="usuario">
        </div>
        <!-- falta la ubicación-. interior -->

        <ion-item *ngIf="!error && palet1 && !errorCantidad">
            <ion-label>Ubicación</ion-label>
            <ion-select placeholder="Escoja una" required name="idUbicacion" ngModel>
                <ion-select-option *ngFor="let item of data" [value]="item.idUbicacion"> {{ item.nombreUbicacion }}</ion-select-option>

            </ion-select>
        </ion-item>

        <div class="row">
            <!-- error si no hay palet -->
            <div *ngIf="error" class="col-md-12 ">
                <div class="alert alert-danger" role="alert">
                    Lo sentimos! <a href="# " class="alert-link ">no hay </a>. Palet que corresponda a esa categoría.
                </div>
            </div>
            <!-- error de cantidad de stock insuficiente. -->
            <div class="alert alert-danger" *ngIf="errorCantidad">
                <strong>ERROR!</strong> La cantidad que quiere retirar es mayor al <strong> STOCK</strong> disponible.
            </div>
            <div class=" col-md-4" *ngIf="pedidoTemp.valid && !errorCantidad ">
                <button type="submit" [disabled]="pedidoTemp.invalid" class="btn btn-outline-danger btn-block">Aceptar</button>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-12">
                <tr *ngIf="noMostrar">
                    <td>
                        <p [ngClass]="{'alert alert-warning ': total < 850, 'alert alert-danger': total > 850}">Total de Palet: <strong>{{total}}</strong> </p>
                    </td>
                </tr>
            </div>
        </div>
        <div *ngIf="noMostrar" class="row">
            <div *ngFor="let total of totales" class="col-md-6">
                <div class="alert-dark">
                    <span class="text-right text-capitalize">{{ total.nombreCategoria  }} : </span> <span class="badge badge-primary"> {{ total.cantidades }}</span>
                </div>
            </div>
        </div>
    </form>


    
<ion-refresher  slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content pullingIcon="chevron-down-circle-outline"
    pullingText="Pull to refresh"
    refreshingSpinner="circles"
    refreshingText="Refrescando la página..."></ion-refresher-content>
  </ion-refresher>
</ion-content>