.alert-secondary {
    padding: 7px;
    background: rgb(129, 131, 136);
    color: #f0ffff;
    width: auto;
}

.over:hover {
    background: #0834f7e8;
    color: #ffff;
}

.top1 {
    margin-top: 40px!important;
}

.pading {
    padding: 15px;
}

.top11 {
    margin-top: 20px!important;
}
.primary1 {
    background: #694F8E!important;
    color: #fff;
}