<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <!-- boton del menu que se encuentra en app-component -->
            <ion-menu-button autoHide="false"></ion-menu-button>
            <ion-back-button defaultHref="/main1"></ion-back-button>

        </ion-buttons>
        <ion-title class="text-center text-primary">Sección de palet</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content class="ion-padding top">
  <section class="container py-5 mt-3 animate__animated animate__fadeIn">
  <div class="row g-4 justify-content-center">

    <!-- Entrada -->
    <div class="col-md-4">
      <div class="card shadow-lg border-0 bg-success text-white h-100 cursor-pointer" routerLink="../tabs/tab1">
        <div class="card-body text-center">
          <div class="mb-3">
            <i class="fas fa-truck-loading fa-2x"></i>
          </div>
          <h4 class="card-title text-uppercase fw-bold">Entrada</h4>
          <p class="card-text">Esta opción es para la descarga de camiones y visualizar pedidos.</p>
        </div>
      </div>
    </div>

    <!-- Movimientos -->
    <div class="col-md-4">
      <div class="card shadow-lg border-0 bg-secondary text-white h-100 cursor-pointer" routerLink="/salida/normal/">
        <div class="card-body text-center">
          <div class="mb-3">
            <i class="fas fa-exchange-alt fa-2x"></i>
          </div>
          <h4 class="card-title text-uppercase fw-bold">Movimientos</h4>
          <p class="card-text">Esta opción es para dar entrada y salida a/de fábrica.</p>
        </div>
      </div>
    </div>

    <!-- Instrucción -->
    <div class="col-md-4">
      <div class="card shadow-lg border-0 bg-danger text-white h-100 cursor-pointer" routerLink="/instruccion">
        <div class="card-body text-center">
          <div class="mb-3">
            <i class="fas fa-clipboard-check fa-2x"></i>
          </div>
          <h4 class="card-title text-uppercase fw-bold">Instrucción</h4>
          <p class="card-text">En esta opción podrá consultar el estado de las instrucciones.</p>
        </div>
      </div>
    </div>

  </div>
</section>

</ion-content>