<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <!-- boton del menu que se encuentra en app-component -->
            <ion-menu-button autoHide="false"></ion-menu-button>
            <ion-back-button defaultHref="/"></ion-back-button>

        </ion-buttons>
        <ion-title class="text-center text-primary">Sección de {{data}}</ion-title>
    </ion-toolbar>
</ion-header>

<!-- carretillero -->
<!-- carretillero -->
<!-- carretillero -->
<!-- carretillero -->

<ion-content class="ion-padding bg-light">
  <ion-grid class="pt-4">
  <ion-row class="gy-4 justify-content-center">

    <!-- Entrada -->
    <ion-col size="12" size-md="5" size-lg="3" [routerLink]="[ '/entrada', idMaterial ]">
      <div class="card custom-card border-start border-1 bg-success h-100 hover-card">
        <div class="card-body text-center">
          <i class="fas fa-truck-loading fa-2x text-success mb-2"></i>
          <h5 class="card-title text-white text-uppercase fw-bold">Entrada</h5>
          <p class="card-text text-white small">Confirmación del albarán.</p>
        </div>
      </div>
    </ion-col>

    <!-- Ubicar -->
    <ion-col size="12" size-md="5" size-lg="3" [routerLink]="[ '/ubicarM', idMaterial ]">
      <div class="card custom-card border-start border-1 bg-warning h-100 hover-card">
        <div class="card-body text-center">
          <i class="fas fa-map-marked-alt fa-2x text-warning mb-2"></i>
          <h5 class="card-title text-white text-uppercase fw-bold">Ubicar</h5>
          <p class="card-text text-white small">Ubique los bultos en las ubicaciones.</p>
        </div>
      </div>
    </ion-col>

    <!-- Movimientos -->
    <ion-col size="12" size-md="5" size-lg="3" [routerLink]="[ '/movimientosM', idMaterial ]">
      <div class="card custom-card border-start border-1 bg-dark h-100 hover-card">
        <div class="card-body text-center">
          <i class="fas fa-exchange-alt fa-2x text-dark mb-2"></i>
          <h5 class="card-title text-white text-uppercase fw-bold">Movimientos</h5>
          <p class="card-text text-white small">Mover material entre ubicaciones.</p>
        </div>
      </div>
    </ion-col>

    <!-- Stock -->
    <ion-col size="12" size-md="5" size-lg="3" [routerLink]="[ '/stockM', idMaterial ]">
      <div class="card custom-card border-start border-1 bg-danger h-100 hover-card">
        <div class="card-body text-center">
          <i class="fas fa-boxes fa-2x text-danger mb-2"></i>
          <h5 class="card-title text-white text-uppercase fw-bold">Stock</h5>
          <p class="card-text text-white small">Ver stock de materiales en ubicaciones.</p>
        </div>
      </div>
    </ion-col>

  </ion-row>
</ion-grid>

</ion-content>
