<ion-header>
    <ion-toolbar>
        <ion-title class="text-center text-primary">{{main}}</ion-title>
        <ion-buttons slot="start">
            <ion-menu-button autoHide="false"></ion-menu-button>


        </ion-buttons>
    </ion-toolbar>
</ion-header>
<div class="row g-4 justify-content-center">

  <!-- Solicitudes Pendientes -->
  <div class="col-md-4">
    <div class="card card-hover bg-primary text-white shadow-lg border-0 h-100" routerLink="/comandas">
      <div class="card-body text-center py-4">
        <div class="mb-3">
          <i class="fas fa-box-open fa-2x"></i>
        </div>
        <h5 class="text-uppercase fw-bold mb-2">Solicitudes Pendientes</h5>
        <p class="fs-6">Retirada de solicitudes de palets y materiales.</p>
      </div>
    </div>
  </div>

  <!-- Comprobación Huecos Disponibles -->
  <div class="col-md-4">
    <div class="card card-hover bg-info text-dark shadow-lg border-0 h-100" routerLink="/ubicaciones">
      <div class="card-body text-center py-4">
        <div class="mb-3">
          <i class="fas fa-search-location fa-2x"></i>
        </div>
        <h5 class="text-uppercase fw-bold mb-2">Huecos Disponibles</h5>
        <p class="fs-6">Visualiza materiales con huecos en las ubicaciones asignadas.</p>
      </div>
    </div>
  </div>

</div>
<section class="container py-3 mt-2 mb-4">
</section>
<section class="container py-3 mt-2 mb-4">
</section>