/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

/**
 * Ionic Dark Mode
 * -----------------------------------------------------
 * For more info, please see:
 * https://ionicframework.com/docs/theming/dark-mode
 */

/* @import "@ionic/angular/css/palettes/dark.always.css"; */
/* @import "@ionic/angular/css/palettes/dark.class.css"; */
@import "@ionic/angular/css/palettes/dark.system.css";

.bg-palido {
    background: #f1a33c!important;
    color: #ffffff;
}

.tablaHead {
    background: #7A726B!important;
}

.dispos {
    position: absolute;
    margin-top: -94px;
    margin-left: 45%;
    padding: 7px;
    border-radius: 5px;
    border-left: 1px solid #FF8800;
    border-right: 1px solid #FF8800;
    border-top: 1px solid #FF8800;
    background: #FF8800;
    color: #ffffff;
}

.estanteria {
    background: #FF8800;
    color: #ffffff;
    padding: 7px;
    border-radius: 5px;
}

.gris {
    background: #e0e0e0;
}

.ref {
    background: rgba(121, 85, 72, 0.7);
    font-size: 150px!important;
    color: #ffff;
}

.refer {
    background: rgba(121, 85, 72, 0.7);
    color: #ffff;
}

.alerta1 {
    background: hsla(357, 80%, 52%, 0.743);
    font-size: 150px!important;
    color: hsl(0, 73%, 61%);
}

.alert-wrapper {
    width: 500px!important;
}