.redondo {
    text-align: center;
    border-radius: 50px;
}

.font {
    font-size: 20px!important;
    color: rgb(4, 94, 228);
}

.bg-palido {
    background: #f1a33c;
    color: #ffffff;
}

.naranja {
    color: #f1a33c;
}

.alert-secondary {
    background: rgb(196, 186, 186);
}

.titulo {
    font-size: 20px;
}

.titulo-principal {
    font-size: 24px;
}

.primary1 {
    background: #694F8E!important;
    color: #fff;
}

.top {
    margin-top: 40px!important;
}